/* กำหนดการจัดรูปภาพให้อยู่ตรงกลางกล่องในแนวนอน */
.flex-shrink-0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* จัดรูปภาพให้อยู่กลางกล่องในแนวนอน */
  width: 350px; /* กำหนดความกว้างของกล่อง */
  height: 150px; /* กำหนดความสูงของกล่อง */
  overflow: hidden;
}

/* กำหนดให้ชื่อร้านอาหารแสดงผลใน 2 บรรทัด และตัดคำถ้ายาวเกิน */
h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* จำกัดแค่ 2 บรรทัด */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม "..." ถ้าข้อความยาวเกิน */
  margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่าง */
}

/* จัดการรูปภาพให้อยู่ตรงกลางในแนวนอน */
img {
  display: block; /* ทำให้รูปภาพไม่ลอย */
  margin-left: auto;
  margin-right: auto;
  width: 96px; /* กำหนดขนาดของรูปภาพ */
  height: 96px; /* กำหนดขนาดของรูปภาพ */
  object-fit: cover; /* ให้รูปภาพครอบคลุมขอบของกรอบรูป */
  border-radius: 8px; /* กำหนดขอบโค้งให้กับรูปภาพ */
}